
<ion-content>

  <div class="container mt-5">
    <div class="">
      <h1 class=" text mt-0">خوش امدید</h1>
      <h2 class="text mt-4" (click)="signup()">ثبت نام</h2>
    </div>


    <div class="row">
      <div class="col mt-5">
        <form [formGroup]="form" (ngSubmit)="submit()">
          <ion-item dir="rtl"
                    [class.valid]="form.get('mobile').valid && form.get('mobile').dirty"
                    [class.invalid]="form.get('mobile').invalid && form.get('mobile').dirty">
            <ion-label position="fixed text">موبایل</ion-label>
            <ion-input formControlName="mobile" type="text"></ion-input>
          </ion-item>
          <ion-button class="mt-4 text-bottom text-light"  type="submit" expand="full">
            <ion-spinner *ngIf="loading"></ion-spinner>
            <span *ngIf="!loading">تایید شماره</span>
          </ion-button>
        </form>
      </div>
    </div>
  </div>
  <div class="footer">
  </div>
</ion-content>
