
<ion-content>

  <div class="container ">


    <div class="row ">
      <div class="col mt-5">
        <form [formGroup]="form" (ngSubmit)="submit()">
          <ion-item class="input-border" dir="rtl">
            <ion-label position="fixed text">موبایل</ion-label>
            <ion-input formControlName="mobile" minlength="11" maxlength="11" type="text"></ion-input>
          </ion-item>
          <button [disabled]="loading" class="mt-4 text-bottom  btn btn-block btn-outline-info text-light"  type="submit" >
            <ion-spinner *ngIf="loading"></ion-spinner>
            <span *ngIf="!loading"> ورود</span>
          </button>

        </form>
        <p class="text-right btn-link mt-4 mr-3"   (click)="signup()">ثبت نام</p>
      </div>
    </div>
  </div>

</ion-content>
