.text{
  font-family:BZiba,'BZiba',tahoma;
}
.text-bottom{
  font-family:BNazanin,'BNazanin',tahoma;
}

ion-content {
  --background: url('../../../assets/img/bg.jpeg') no-repeat center/cover ;

}


.container{
  margin-top: 50px;
}



.valid{
  border-bottom: 3px solid #00ff00;
}
.invalid{
  border-bottom: 3px solid red;
}

p{
  font-family: BNazanin, 'BNazanin', tahoma;
}

button{
  border-radius: 20px 20px 20px 20px;

}

.btn-border{
  border-radius: 20px 20px 20px 20px;

}
.input-border{
  border-radius: 20px 20px 20px 20px;

}
