
<ion-content>

  <div class="container">

    <div class="row">
      <div class="col">
        <form [formGroup]="form" (ngSubmit)="confirm()">
          <ion-item class="btn-border mt-1"
                  dir="rtl">
            <ion-label position="fixed " class="text">شماره همراه</ion-label>
            <ion-input minlength="11" maxlength="11" formControlName="mobile" type="text"></ion-input>

          </ion-item>
          <ion-item
                  class="btn-border mt-1 "

                    dir="rtl">
            <ion-label position="fixed " class="text">نام</ion-label>
            <ion-input formControlName="name" type="text"></ion-input>

          </ion-item>
          <ion-item
                  class="btn-border mt-1"
                  dir="rtl">
            <ion-label  position="fixed " class="text">نام خانوادگی</ion-label>
            <ion-input formControlName="family" type="text"></ion-input>

          </ion-item>




            <ion-radio-group   formControlName="gender" dir="rtl">
              <ion-item  class="btn-border mt-1" >
                <ion-label class="text">مرد</ion-label>
                <ion-radio value="man"></ion-radio>
              </ion-item>
              <ion-item  class="btn-border">
                <ion-label class="text">زن</ion-label>
                <ion-radio value="woman"></ion-radio>
              </ion-item>
            </ion-radio-group>




          <button  [disabled]="loading"  class="mt-4 text-bottom text-light btn btn-outline-info btn-block input-border" >
            <ion-spinner *ngIf="loading"></ion-spinner>
            <span *ngIf="!loading">تایید</span>
          </button>

        </form>
      </div>
    </div>
  </div>

</ion-content>
