.text{
  font-family:BZiba,'BZiba',tahoma;
}
.text-bottom{
  font-family:BNazanin,'BNazanin',tahoma;
}

ion-content{
  --background: #cfe3a2;
}


.background-image{
  border-top:#09c509 solid 3px;
  border-bottom:#09c509 solid 3px;
}

.footer{
  position: fixed;
  height: 150px;
  width: 100%;
  bottom: 0;
  background-image: linear-gradient(to top, #09c509, #66cd3a, #92d45c, #b4db7e, #cfe3a2);


}
h1{
  font-size: 3em;
  float: right;
}
h2{
  font-size: 1em;
  float: left;
}
.row{
  clear: both;
}

ion-button{
  --background: #EF767A;
}
.valid{
  border-bottom: 1px solid green;
}
.invalid{
  border-bottom: 1px solid red;
}
