.text{
  font-family:BZiba,'BZiba',tahoma;
}
.text-bottom{
  font-family:BNazanin,'BNazanin',tahoma;
}

ion-content {
  --background: url('../../../assets/img/bg.jpeg') no-repeat center/cover ;

}


.container{
  margin-top: 50px;
}


.input-border{
  border-radius: 20px 20px 20px 20px;
}
