
<ion-content>

  <div class="container">

    <div dir="rtl" class="row">
      <div class="col mt-2">
        <form [formGroup]="form" (ngSubmit)="confirm()">
          <ion-item class="input-border">
            <ion-label position="fixed text">تایید شماره</ion-label>
            <ion-input formControlName="token" type="text"></ion-input>
          </ion-item>
          <button class="d-flex justify-content-center"  [disabled]="!timer"  (click)="resend()" style="background: transparent">
            <div   class="d-flex align-items-center mt-2 justify-content-start">
              <span class="text text-light">ارسال مجدد</span>
              <ion-icon class=""  name="refresh"></ion-icon>
              <countdown class="text-light" #cd [config]="config" (event)="onEvent($event)"></countdown>
            </div>
          </button>
          <button  [disabled]="loading"  class="mt-4 text-bottom btn btn-block btn-outline-info input-border text-light">
            <span *ngIf="!loading">تایید </span>
            <ion-spinner *ngIf="loading"></ion-spinner>
          </button>
        </form>
      </div>
    </div>
  </div>



</ion-content>
